.input {
  width: 400px;
  padding: 0 5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: medium;
  color: #ffffff9b;
}
.form {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(52, 50, 63);
}
@media (min-width: 480px) and (max-width: 1100px) {
  .form {
    width: 86%;
    margin: auto;
  }
}
@media (min-width: 380px) and (max-width: 480px) {
  .form {
    width: 310px;
    margin-bottom: 0;
  }
  .input {
    width: 310px;
  }
}
@media (min-width: 320px) and (max-width: 380px) {
  .input {
    width: 80%;
  }
  .form {
    width: 90%;
    margin: auto;
  }
}
