.input {
  width: 400px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: medium;
  padding: 0 5px;
  color: #ffffff9b;
}

.form {
  width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  background-color: rgb(52, 50, 63);
}
