.container {
  display: flex;
  flex-flow: column wrap;
  width: 1000px;
  height: 726px;
  padding: 15px;
  margin: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #14182391;
  border-radius: 25px;
}
.container_location {
  margin-top: 20px;
  margin-left: 10px;
}
.container_left {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  align-items: center;
}
.container_right {
  width: 550px;
  margin: 20px;
  display: flex;
  align-items: baseline;
  justify-items: flex-start;
  flex-direction: column;
}
.container_3 {
  width: 530px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container_temp {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.container_curWeather {
  width: 420px;
  display: flex;
  background-image: linear-gradient(180deg, #141823e6, rgba(255, 255, 255, 0)),
    url("../images/vecteezy_raindrops-on-the-glass_19846848.jpg");
  background-size: cover;
  background: linear-gradient(180deg, #14182391, rgba(255, 255, 255, 0));
  flex-direction: column;
  border-radius: 20px;
  color: white;
}
.textTemp {
  font-size: 100px;
}
.temp_discription {
  font-size: 30px;
}
.text_discription {
  font-size: 12px;
  padding-left: 10px;
  margin: 3px 0;
}
.text_value_2 {
  font-size: 12px;
  padding-left: 10px;
}
.container_details {
  margin: 50px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}
.details {
  width: 40%;
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  margin: 5px;
  border-radius: 20px;
  color: #fff;
  text-align: left;
}
.title {
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  align-items: center;
  color: #ffffff9b;
}
.title svg:nth-child(1) {
  height: 25px;
  width: 30px;
  align-items: center;
}
.text_value {
  font-size: 23px;
  padding: 0 10px;
}
.container_hourly {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #080b1481;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}
.hourly {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: stretch;
  justify-content: space-around;
}
.hourly::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: rgba(84, 82, 82, 0.712);
  border-radius: 5px;
}
.hourly::-webkit-scrollbar-thumb {
  background-color: rgba(124, 122, 122, 0.712);
  border-radius: 5px;
}
.div_hourly {
  width: 70px;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px;
}
.div_hourly div:nth-child(1) {
  font-size: 12px;
}
.div_hourly div:nth-child(2) {
  font-size: 25px;
}
.div_hourly:hover {
  background-color: rgba(84, 82, 82, 0.712);
  transition: background-color 0.5s ease;
}
.period {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: stretch;
  justify-content: space-around;
}
.period::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background-color: rgba(84, 82, 82, 0.712);
  border-radius: 5px;
}
.period::-webkit-scrollbar-thumb {
  background-color: rgba(124, 122, 122, 0.712);
  border-radius: 5px;
}
.div_day {
  width: 70px;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px;
  align-self: stretch;
  justify-self: center;
}
.div_day:hover {
  background-color: rgba(84, 82, 82, 0.712);
  transition: background-color 0.5s ease;
}
.div_day div:nth-child(1) {
  font-size: 12px;
}
.div_day div:nth-child(2) {
  font-size: 10px;
  color: #ffffff9b;
}
.div_day div:nth-child(3) {
  font-size: 25px;
}
.uv_index {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.4);
  text-align: left;
}
.wind {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.4);
  text-align: left;
}
.wind_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wind_details hr {
  width: 140px;
}
.wind_details_div {
  display: flex;
  flex-direction: row;
}
.wind_details_div div:nth-child(2) {
  font-size: 12px;
}
.range {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.range::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, green, yellow, red, violet);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1.5px;
  background-color: rgb(249, 245, 245);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
hr {
  height: 2px;
  width: 500px;
  background-color: rgba(124, 122, 122, 0.712);
  border: rgba(124, 122, 122, 0.712);
  border-radius: 1px;
}
@media (min-width: 380px) and (max-width: 480px) {
  .container {
    width: 330px;
    height: 1390px;
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: baseline;
  }
  .container_location {
    margin-left: 0px;
    margin-top: 3px;
  }
  .container_left {
    width: 330px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .container_right {
    width: 330px;
    margin: auto;
  }
  .container_curWeather {
    width: 330px;
  }
  .container_hourly {
    width: 300px;
  }
  .container_3 {
    width: 330px;
  }
  .uv_index {
    width: 140px;
  }
  .wind {
    width: 140px;
  }
  .wind svg {
    width: 40px;
    height: 40px;
    align-items: flex-start;
  }
  hr {
    width: 100%;
  }
  .wind hr {
    width: 100px;
  }
  .text_value {
    font-size: 20px;
  }
  .title {
    padding: 0;
  }
}
